@import url(http://fonts.googleapis.com/css?family=Roboto|Open+Sans+Condensed:300|Lato);

body {
	
	font-family: "Avenir", sans-serif;
	position:relative;

}

p {
		text-align: left;
		color: white;
		font-size: 15px;
		font-family: "Lato";
	}

h1 {
	
	font-family: "Avenir";	
	font-size: 70px;
	text-align: center;
	color: white;
	
}

h2 {

	margin-top: 0px;
	text-align: center;
	color:white;
	font-size: 15px;
}

h3 {

	margin-top: 0px;
	text-align: left;
	color:white;

}

/*NAVBAR STYLES*/

header .navbar-default {
	
	background-color: rgba(0,0,0,.9);
	filter: url('#blur');
    filter: blur(5px);
	border: none;

}

.navbar-header {

	border-color:transparent;

}

/*Expanded navbar*/



.navbar-collapse{

	border: none;

}

@media only screen and (max-width: 766px) {
.collapsing ul li a, .in ul li a {color: white!important;}
.collapsing ul li a:hover, .in ul li a:hover {color: orange!important;}
.collapsing ul li a:hover, .in ul li.active a:hover {color: black!important;}
}

/*Navbar navigation links*/

ul.nav.navbar-nav {

	text-align:center;
	font-family: "Avenir";
	font-size: 20px;
	color: white; 

}


.navbar-collapse .navbar-nav.navbar-right a {

	color:white;
}

/* active backgroud navbar color */
.navbar-default .navbar-nav.navbar-right .active a{

	background-color:orange;
}

/*Navbar toggle colors*/

.navbar-toggle.collapsed {
	
	border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color:orange;
};

.navbar-toggle:hover {
	background-color: blue;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	
	border-color: orange;

	background-color:inherit;
}

/**  Navbar Brand **/

header .navbar-brand {
  background-repeat: no-repeat;
  height: auto;
}

header .navbar-brand h1 {
  color: white;
  margin: 0;
  font-size: 1.3em;
  font-weight: 400;
}

/*PAGES */

.page {

	text-align: center;
}

/*INTRODUCTION PAGE*/

.page#introduction {

	background: url("/BeteV2/assets/babbychristmas.jpg") no-repeat center center;
	background-size:cover;
	min-height: 700px;

}

.page#introduction .container-fluid {
	
	padding-top: 100px;
	background-color: rgba(0,0,0,.5);
	min-height: 700px;
 
}

@media only screen
and (max-width: 768px){

	.page#introduction .container-fluid {
		padding-top: 50px;
		height: 700px;
	}

	.page#introduction {

	height: 700px;

	}

}

/*Introduction Button */

a.btn-default.ctaButton {
	
	margin: 50px 10px 0px 10px;
	background: transparent;
	box-shadow: none;
	border-color: white;
	border-width: 5px;
	min-width: 320px;
	font-family: "Avenir", sans-serif;
	font-size: 30px;
	color: white;

}



/*ABOUT PAGE*/

#about h2{

	text-align: center;
	color: black;
}

#about h1{

	text-align: center;
	color: black;
}

#about p {

	font-family: "Lato";
	color: black;



}

.page#about #christmastree img {

	width: 100%;
	max-height: 300px;
	max-width: 300px;
}

/*CAST AND CREW PAGE*/

#castAndCrew h1 {
	color: black;
}

/*footer*/

footer{
	background-color: red;
	min-height: 20px
}